{{isAdmin}}-roles
<mat-toolbar color="primary">
  <span routerLink="./home">Tienda</span>
  <ng-container>
    <button mat-icon-button (click)="onToggleSidenav()" *ngIf="isLogged">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <a mat-button [routerLink]="'./admin'">Admin </a>
    <a mat-button *ngIf="isLogged" [routerLink]="'./new'" >New</a>
    <a mat-button *ngIf="isLogged" [routerLink]="'./list'" >list</a>
    <a *ngIf="!isLogged;else viewLogout" mat-button [routerLink]="'./login'">Login</a>
  </ng-container>

  <ng-template #viewLogout>
    <a mat-button (click)="onLogout()">Logout</a>
  </ng-template>

</mat-toolbar>